#container {
	background-color: white;
	width: 960px;
	margin: auto;
	border: solid black;
}

.gridSquares {
	background-color: blue;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 1px;
	float: left;
}

.gridChanged {
	background-color: yellow;
	display: inline-block;
	height: 10px;
	width: 10px;
	margin: 1px;
	float: left;
}

#titleTop {
	text-align: center;
	font-size: 25px;
	margin-bottom: 30px;
}